.pedidos {
  width: 100%;
  background-color: #a9a9a9;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 15px 0;
}

.lanches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pedidos input {
  font-size:1 8px;
  padding: 5px 5px 5px 2px;
  border-radius: 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.pedidos input:focus {
  outline:none;
}

.pedidos button {
  position: relative;
  display: block;
  padding: 6px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  border: none;
  color: rgb(49, 49, 49);
  width: 100px;
  cursor: pointer;
  outline: none;
  margin: 2px;
  transition: background-color .3s;
}

.pedidos button:disabled {
  background-color: rgb(175, 175, 175);
  color: rgb(90, 90, 90);
  cursor: default;
}

.pedidos button:hover:disabled {
  background-color: rgb(175, 175, 175);
  color: rgb(90, 90, 90);
  cursor: not-allowed;
}


.pedidos button:hover, .pedidos button:active {
  color: white;  
  background-color: rgb(65, 65, 65);
}

.pedidos button:hover, .pedidos button:active {
  color: white;
  background-color: rgb(99, 99, 99);
}

.orcar {
  display: grid;
  grid-template-columns: 70% 20%;
}